@import "tailwindcss";


body {
  background-color: #0a0a0a; /* soft black */
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: white;
}

a {
  color: #F5016A; /* This is a common blue link color */
}

/* Change the color when the mouse hovers over the link */
a:hover {
  color: #ffffff; /* A different color for the hover state */
}

img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}

img {
  float: left;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}

h1 {
    color: white;
    text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000;
}

